/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  height: 100%;
}
@media (min-width: 768px) {
    html {
        font-family: "Courier New", Courier, monospace;
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height:90%;
  overflow: hidden;
}
.container-flex {
    padding: 1em;
    display: flex;
    height: 100%;
}

.users, .courses {
    text-align: center;
    width: 25%;
    border: 2px black solid;
    overflow: auto;
    background-color: #F2F5FB;
}

.users__flex, .courses__flex, .rooms-flex {
    display: flex;
    flex-direction: column;
}

.rooms-flex {
    display: none;
}

.user, .course {
    padding: 1.5em;
    margin-bottom: 1em;
    margin-left: 0.3em;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    color: white;
}

.user {
    background-color: #40807B;
}

.course {
    background-color: #6CD6CE;
}

.room {
    padding: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
    border: 1px black solid;
}

.users__status-container {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.fa-minus-circle {
    color: red;
}

.dot {
    background-color: green;
    border-radius: 50%;
    height: 1em;
    width: 1em;
}

.questions {
    width: 50%;
    background-color: #F2F5FB;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

.questions__content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.question {
    margin-top: 1em;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #92A5A4;
    text-align: center;
    border-radius: 25px;
}

.questions__chat-container {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.questions__chat-form {
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.chat-form__input {
    width: 90%;
    height: 70%;
}

.chat-form__button {
    height: 75%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
