@{
    ViewData["Title"] = "Home Page";
}

<div class="container-flex">
    <section class="users">
        <h2 class="users__title">Online Users</h2>
        <div class="users__flex">
            <div class="user">
                <span class="user__name">Gheorghe Sandu</span>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="user">
                <span class="user__name">Gheorghe Sandu</span>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="user">
                <span class="user__name">Gheorghe Sandu</span>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="user">
                <span class="user__name">Gheorghe Sandu</span>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="user">
                <span class="user__name">Gheorghe Sandu</span>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="user">
                <span class="user__name">Gheorghe Sandu</span>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="user">
                <span class="user__name">Gheorghe Sandu</span>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="user">
                <span class="user__name">Gheorghe Sandu</span>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="user">
                <span class="user__name">Gheorghe Sandu</span>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="user">
                <span class="user__name">Gheorghe Sandu</span>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="user">
                <span class="user__name">Gheorghe Sandu</span>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="user">
                <span class="user__name">Gheorghe Sandu</span>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="user">
                <span class="user__name">Gheorghe Sandu</span>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="user">
                <span class="user__name">Gheorghe Sandu</span>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="user">
                <span class="user__name">Gheorghe Sandu</span>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="user">
                <span class="user__name">Gheorghe Sandu</span>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
        </div>
    </section>
    <section class="questions">
        <div class="questions__content" id="questions">
            <div class="question">
                <h3 class="question-author">Popescu George</h3>
                <p class="question-string"> Stie cineva sa rezolve problema aia grea ? </p>
                <a class="questions-answer__trigger" href="#"> Vezi raspunsuri</a>
            </div>
            <div class="question">
                <h3 class="question-author">Popescu George</h3>
                <p class="question-string"> Stie cineva sa rezolve problema aia grea ? </p>
                <a class="questions-answer__trigger" href="#"> Vezi raspunsuri</a>
            </div>
            <div class="question">
                <h3 class="question-author">Popescu George</h3>
                <p class="question-string"> Stie cineva sa rezolve problema aia grea ? </p>
                <a class="questions-answer__trigger" href="#"> Vezi raspunsuri</a>
            </div>
            <div class="question">
                <h3 class="question-author">Popescu George</h3>
                <p class="question-string"> Stie cineva sa rezolve problema aia grea ? </p>
                <a class="questions-answer__trigger" href="#"> Vezi raspunsuri</a>
            </div>
            <div class="question">
                <h3 class="question-author">Popescu George</h3>
                <p class="question-string"> Stie cineva sa rezolve problema aia grea ? </p>
                <a class="questions-answer__trigger" href="#"> Vezi raspunsuri</a>
            </div>
            <div class="question">
                <h3 class="question-author">Popescu George</h3>
                <p class="question-string"> Stie cineva sa rezolve problema aia grea ? </p>
                <a class="questions-answer__trigger" href="#"> Vezi raspunsuri</a>
            </div>

        </div>
        <div class="questions__chat-container">
            <form class="questions__chat-form" action="/action_page.php">
                <input class="chat-form__input" type="text" name="question"><br>
                <input class="chat-form__button" type="submit" value="Submit">
            </form>
        </div>
    </section>
    <section class="courses">
        <h2 class="courses__title">Courses</h2>
        <div class="courses__flex">
            <div class="course" id="ML">
                <span class="course__title">Machine learning</span>
                <i id="MLarrow" class="fas fa-arrow-up"></i>
            </div>
            <div class="rooms-flex" id="roomML">
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
            </div>
            <div class="course" id="Math">
                <span class="course__title">Math</span>
                <i id="Matharrow" class="fas fa-arrow-up"></i>
            </div>
            <div class="rooms-flex" id="roomMath">
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
            </div>
            <div class="course" id="IP">
                <span class="course__title">Ingineria programarii</span>
                <i id="IParrow" class="fas fa-arrow-up"></i>
            </div>
            <div class="rooms-flex" id="roomIP">
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
            </div>
            <div class="course" id="java">
                <span class="course__title">Java</span>
                <i id="javaarrow" class="fas fa-arrow-up"></i>
            </div>
            <div class="rooms-flex" id="roomjava">
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
            </div>
            <div class="course" id="SD">
                <span class="course__title">Structurii de date</span>
                <i id="SDarrow" class="fas fa-arrow-up"></i>
            </div>
            <div class="rooms-flex" id="roomSD">
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
            </div>
            <div class="course" id="logica">
                <span class="course__title">Logica</span>
                <i id="logicaarrow" class="fas fa-arrow-up"></i>
            </div>
            <div class="rooms-flex" id="roomlogica">
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
                <div class="room">
                    <span>Room 1</span>
                    <button>Join room</button>
                </div>
            </div>

        </div>
    </section>
</div>
